/****************
Reset
****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}
strong {
  font-weight: bold; 
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table; 
}
.grouping:after {
  clear: both; 
}
img, iframe, video, object {
  max-width: 100%; 
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/****************
nav
****************/
nav {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index:1;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

nav figure {
  margin-top: 12px;
  margin-left: 18px;
  margin-bottom: 3px;
}

nav > h1 {
  font-size: 30px;
}

.primary-nav {
  flex-grow: 0;
}

.primary-nav > li {
  float: left;
}
.primary-nav > li > a {
  float: left;
  padding: 25px 0;
  width: 150px;
  border-left: 1px solid #ada791;
}
.primary-nav > li:first-child > a {
  border-left: none;
}
nav li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #766e65;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear; 
}
nav li a:focus,
nav li a:hover {
  background-color: #ff9999;
  color: #fff; 
  text-decoration: none; 
}

nav li a.active {
  background-color: #eb2428;
  color: #fff; 
}
.mobile-menu-icon {
  background: url('../images/mobile-menu-icon.png') 0 0 no-repeat;
  width: 30px;
  height: 26px;
  float: right;
  margin: 22px 22px 22px 0;
  cursor: pointer;
  display: none;
}
.mobile-menu-icon.open {
  background-image: url('../images/mobile-menu-close-icon.png');
}
/****************
Drop Down Menu
****************/

.has-submenu a {
  display: block;
  padding: 20px 0;
  z-index: 10;
  position: relative;
}
.has-submenu ul{
  position: absolute;
  z-index: 5;
  top: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ada791;
  border-left: 1px solid #ada791;
  border-right: 1px solid #ada791;
  width: 150px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  display: none;
}
.has-submenu:hover ul {
  display: block;
  -webkit-animation: slideDown .5s ease;  
  animation: slideDown .5s ease;           
}
@-webkit-keyframes slideDown {
  0% { -webkit-transform: translateY(-100%);opacity: 0;}   
  90% {-webkit-transform: translateY(10%);}
  100% {-webkit-transform: translateY(0%);opacity: 1;} 
}
@keyframes slideDown {
  0% { transform: translateY(-100%);opacity: 0;}   
  90% {transform: translateY(10%);}
  100% {transform: translateY(0%);opacity: 1;} 
}

/****************
Flexbox
****************/
.nav-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lg-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-flex-container {
  display: none;
}
.nav-flex-item1 {
  flex: 1;
}
.nav-flex-item2 {
  -wekit-box-flex: 2;
  -moz-box-flex: 2;
  -wekit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: center;
}
.flex-item {
  padding: 10px;
  flex: 1;
  text-align: center;
}
/****************
content
****************/
.content {
  margin-top: 110px;
  margin-left: 40px;
  margin-right: 40px;
}

.message {
    color: #390;
}
.error {
    color: #f00;
}
input {
    display: block;
}
input[type=submit] {
    margin-top: .5em;
}
select {
    display: block;
}
#footer {
    font-style: italic;
}
strong {
    font-weight: bold;
}
.emphasize{
    font-weight: bold;
    font-size: 1.05em;
}
/****************
Buttons
****************/
.button {
  border: 1px solid #766e65;
  color: #766e65;
  padding: 2px 0px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: .15s background-color linear;
}
.button:focus,
.button:hover {
  background-color: #ff9999;
  color: #fff;
  text-decoration: none; 
  transform: scale(1.1,1.1) translate(0, -2px); 
}

/****************
Media Queries
****************/
@media screen and (max-width: 1000px) {
  .lg-flex-container {
    display: none;
  }

  .sm-flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    margin-top: 40px;
  }
  nav {
    position: static;
  }
  .primary-nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all ease-in-out .35s
    -moz-transition: all ease-in-out .35s
    -o-transition: all ease-in-out .35s
    transition: all ease-in-out .35s
  }
  .primary-nav.focused {
    max-height: 350px;
  }
  .primary-nav > li {
    float: right;
    width: 100%;
  }
  .primary-nav > li > a {
    padding: 15px 25px 15px 0;
    width: 100%;
    border-bottom: 1px solid #ada791;
    border-left: none;
    font-size: 20px;
  }
  nav figure {
    margin-top: 12px;
    margin-left: 18px;
    margin-bottom: 3px;
  }
  .has-submenu a {
    padding: 15px 0;
    font-size: 20px;
  }
  .has-submenu ul {
    position: static;
    display: block;
    border: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #ada791;
  }
  .has-submenu:hover ul {
    -webkit-animation: none;
    animation: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .nav-flex-container {
    display: block;
  }
  .nav-flex-item1 {
    float: left;
    width: 20%;
  }
  .nav-flex-item2 {
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 15px;
  }
  .material-icons {
    padding: 15px;
  }
} /* close media query */

/****************
icons
****************/
.material-icons {
  vertical-align: bottom;
}
