<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>[% template.title or "My Catalyst App!" %]</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
    <link rel="stylesheet" href="[% c.uri_for('/static/css/icons.css') %]" >
    <link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
    <nav class="grouping nav-flex-container">
			<figure class="nav-flex-item1">
        <img src="[% c.uri_for('/static/images/btn_120x50_powered.png') %]" width="120"/>
			</figure>
			<h1 class="nav-flex-item2">[% template.title or site.title %]</h1>
      <div class="mobile-menu-icon"></div>
			<ul class="primary-nav grouping">
				[% IF c.user_exists %]
          <li><a id="logout" class="menu-item" href="[% c.uri_for('/logout') %]">Logout <strong>[% c.user.username %]</strong></a></li>
          <li><a id="customers" class="menu-item" href="[% c.uri_for('/customer/list') %]">Customers</a></li>
        [% ELSE  %]
          <li><a id="login" class="menu-item" href="[% c.uri_for('/login') %]">Staff Login</a></li>
        [% END %]
				<li class="has-submenu"><a id="movies" class="menu-item" href="[% c.uri_for('/films/list') %]">Movies</a>
					<ul>
						<li><a id="add-movie" class="menu-item" href="[% c.uri_for('/films/create') %]">Add a Movie</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a id="movie-stars" class="menu-item" href="[% c.uri_for('/actors/list') %]">Movie Stars</a>
					<ul>
						<li><a id="add-movie-star" class="menu-item" href="[% c.uri_for('/actors/create') %]">Add a Movie Star</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<section class="content">
			[%# Status and error messages %]
	        <span class="message">[% status_msg || c.request.params.status_msg | html %]</span>
	        <span class="error">[% error_msg %]</span>
	        [%# This is where TT will stick all of your template's contents. -%]
			[% content %]			
		</section>
		<section class="flex-container">
      <div class="flex-item"><a href="https://github.com/jeffmt/sakila"><span class="icon fi-social-github"></span>Github</a></div>
		</section>
		<footer class="flex-container">
			<div id="copyright" class="flex-item">Copyright &copy; [% USE Date; Date.format(format="%Y") %]</div>
		</footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="[% c.uri_for('/static/js/scripts.js') %]"></script>

	</body>
</html>
