<section class="flex-container">
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.first_page }) %]">&lt;&lt; First</a></div>
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.current_page - 5 }) %]">&lt; Skip Back 5</a></div>
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.previous_page }) %]">&lt; Previous</a></div>
  <div class="flex-item">Page [% pager.current_page %] of [% pager.last_page %]</div>
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.current_page + 1 }) %]">Next &gt;</a></div>
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.current_page + 5 }) %]">Skip Forward 5 &gt;</a></div>
  <div class="flex-item"><a class="button" href="[% c.uri_for(c.controller.action_for('list'), { order_by => order_by, page => pager.last_page }) %]">Last &gt;&gt;</a></div>
</section>
